[Unit]
Description=Write ephemeral disk list
Requires=networking.service mnt-data.mount ephemeral-units.service
Before=mnt-data.mount ephemeral-disk.service ephemeral-units.service
After=networking.service
ConditionPathIsMountPoint=!/mnt/data

[Install]
WantedBy=local-fs.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/bin/bash /etc/ephemeral-scripts/ephemeral-list.sh

StandardOutput=journal+console